#LogoPrincipal{
    align-items: center;
    margin-left: 500px;
}
   
#Container{
    display: flex;
    padding: 10px;
    margin: 30px,30px;
    position: flex;
    margin-left: 50px;
    margin-top: 10px;
    justify-content:start;
    text-align: center;
    font-size: 20px;
   }

.enviemsg{
    font-size: 30px;
    color:rgb(88, 88, 88); 
}

#contatos{
   text-align: end;
}
.formulario2{
    display: flex;
    margin: 5px;
    padding: 5px;
    align-items: center;
    text-align: center;
}

header {
    box-shadow: black 1px 2px 10px;
}

input {
    margin-top: 3px;
}

#redes {
    text-align: center;
}

#imgredes {
    margin: 5px;
}

footer {
    position: relative;
    bottom: 0px;
    padding: 25px;
    margin-top: 10px;
    width: 100%;
}

#foot {
    margin-left: 20px;
}



@media only screen and (max-width: 800px) {

    #formulario2 {
        width: 100vw;
    }

    #form1 {
        width: 100vw;
    }
}